.box1{
    background-image: linear-gradient( to right,#EF96C4 ,#E14479 , #0063E7,#0C5CCD,#693355  );
    height: 120px;
}

.box2{
    background-image: linear-gradient( to right,#EF96C4 ,#E14479 , #0063E7,#0C5CCD,#693355  );
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
   color: white;
}